<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>The Magic Informer</title>
        <meta name="author" content="rayhan0x01">
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Playfair+Display+SC:wght@900&family=Playfair+Display:ital,wght@0,800;1,800&family=Manrope:wght@800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/custom.css">
        <link rel="shortcut icon" href="/static/images/logo.png" />
    </head>
    <body>
        <div class="entry clear">
        <div class="main__wrapper">
            <main>
                <h1>The Magic Informer</h1>
                <aside>
                    <div>
                        <div class="issue1">Issue #1337</div>
                        <div class="date">Friday, 02 December, 2022</div>
                        <div class="cost">5 $</div>
                    </div>
                </aside>
                <h2 class="title--large main-title">The world awaits Supernatural Hacks</h2>
                <div class="main-text multi-column">
                    <p><font size="13px">S</font>upernatural Hacks is a special event. It is truly one of a kind. The school has crafted its legacy as the best of its kind, and no event highlights this more than this tournament. Do not miss it! This tournament was held every 3 years and consisted of 6 legendary challenges, each of a different subject, and the winning team got to be the school's representative until the next one.
                        The last 6 tournaments were won by team darkPointyHats, a group of bullies that do not hesitate to cheat to get points. Can you form a team capable of dethroning Dark Pointy Hats and winning the Supernatural Hacks cup?
                    </p>
                </div>
                <a class="terrarium" href="#" target="_blank">
                    <figure>
                        <img src="/static/images/academy.png"/>
                        <figcaption>Wizards Hacking School</figcaption>
                    </figure>
                </a>
                <a class="item-with-image plan span--2 long--1" href="#" target="_blank">
                    <img src="/static/images/dph.png"/>
                    <h4>WIZARD HACKER TRASFORMS TEACHERS SIEM INTO SPYWARE</h4>
                </a>
                <div class="sidebar">
                    <h3 class="title--big">Hot News Of The Month!</h3>
                    <a class="codepen-item pie" href="#" target="_blank">
                        <img class="pie__image" src="/static/images/swords.png"/>
                        <div class="pie__subtitle">Top Bug Bounty Hunters of the academic year 2021-2022</div>
                        <div class="pie__content">
                            <h4>Underground Swords!</h4>
                            <p> </p>
                        </div>
                    </a>
                    <a class="item-with-image magazine " href="#" target="_blank">
                        <h4>Finals Week Nearing!</h4>
                        <p><font size="13px">A</font>s finals week approaches, remember to stay hydrated and take small breaks to eat while studying. Extremely hardened active directory labs can not be pwned without discipline and a full belly.</p>
                    </a>
                    <a class="workout" target="_blank">
                        <div class="workout__image"><img src="/static/images/books.gif" alt="Workout"/></div>
                        <div class="workout__blurb">Wizards Hacking School to sort students online! </div>
                        <div class="workout__title" style="background: grey;">A Prototype has been released!</div>
                    </a>
                    <a class="item-with-image magazine with-border toggles" href="/register" target="_blank">
                        <div class="workout__image"><img src="/static/images/wizard_alfredo.png" alt="Workout"/></div>
                        <div class="workout__title" style="background: grey;">We are Hiring!</div>
                        <p>Want to see your article in The Magic Informer? We're hiring new editors! Sign up here!</p>
                    </a>
                </div>
                <div>
                    <p><font size="13px">C</font>hristmas Eve is a big day for the western world – for both Wizards, Hackers, and Wizard Hackers. Just like every other year, the dark pointy hats seem to have outdone themselves in mischieving.</p>
                    <p>This Christmas Eve, a student member of the team dark pointy hats, who shall remain nameless, used a spell included in the forbidden dark arts and converted a SIEM into spyware. More specifically, they managed to route the data and analytics from the monitored endpoints to their server and then to the SIEM server. To read more about it, click the icon.</p>
                </div>
                </a>
                <a class="item-with-image toggles" target="_blank">
                    <img src="/static/images/shield.png"/>
                    <h4>Another Important Milestone For The Team Invisible Shields!</h4>
                    <p><font size="13px">O</font>ur school acquired a free license for the notorious EDR named Blockicus Totalus. From now on, our students will be able to practice their SOC skills in our school's infrastructure.</p>
                </a>
                <a class="item-with-image style plan span--2 long--1" href="#" target="_blank">
                    <img src="/static/images/spell.gif"/>
                    <h4>WIZLEAKS EXPOSES THE EXISTENCE OF THE MASS SPELL BINDING TRACKER PROGRAM </h4>
                    <p><font size="13px">T</font>he WizLeaks has leaked several secret scrolls of the magic council that uncovers a mass survelience spell binding tracker program deployed over the city of Orsterra.</p>
                    <p>Details include several high-profile individuals of the land of Orsterra being tracked realtime for over an year now! The council of Orsterra have not provided any comments regarding this matter.</p>
                </a>
                <a class="item-with-image style  toggles" target="_blank">
                    <img src="/static/images/darkspell.jpg"/>
                    <h4>Rumors of illegal potions in-use during magical contest of the houses</h4>
                    <p><font size="13px">T</font>he council of the houses received evidance of illegal potions being sold to the students.</p>
                    <p>One house allegedly performed better in the annual magical contest with the help of supplementary magical potions.</p>
                </a>
                <div class="pasta with-border toggles">
                    <a  href="#" target="_blank" class="item-with-image">
                        <h4>How To Make Bugs Disappear From Your buggy code.</h4>
                        <p><font size="13px">E</font>verybody hates bugs, especially in their project. It's impossible not to hate them, so The Magic Informer offers its reader a secret spell. So hold your bugs tight as you read this.</p>
                    </a>
                    <a href="#" target="_blank"  class="item-with-image">
                        <h4>Muggle hacker found studying in wizarding school</h4>
                        <p><font size="13px">W</font>ithout getting caught for four months, a mere muggle boy managed to study in the wizarding school, impersonating a wizard by bypassing the student sorting with hacking. Authorities consider keeping him at the school in a special capacity.</p>
                    </a>
                </div>
                <a class="menu" href="#" target="_blank"></a>
                </figure></a>
            </main>
        </div>
    </body>
</html>